# Project information
site_name: "MkDocs Material Boilerplate"
site_description: "MkDocs Material Boilerplate (Starter Kit) - Deploy documentation to hosting platforms (Netlify, GitHub Pages, GitLab Pages, and AWS Amplify Console) with Docker, pipenv, and GitHub Actions."
site_author: "peaceiris"
site_url: "https://mkdocs.peaceiris.com/"

# Copyright
copyright: "&copy; 2021 peaceiris"

# Repository
repo_name: "GitHub"
repo_url: "https://github.com/caprica64/capricatech/"
edit_uri: "https://github.com/caprica64/capricatech/edit/main/docs_sample"

# Configuration
docs_dir: "site_project"
theme:
  name: "material"
  language: "en"
  shortcuts:
    help: 191 # ?
    next: 78 # n
    previous: 80 # p
    search: 83 # s
  palette:
    primary: "blue"
    accent: "blue"
  features:
    - tabs
  #font:
  #text: 'Ubuntu'
  #code: 'Ubuntu Mono'
  #icon:
  #logo: 'images/logo.svg'
  #favicon: 'assets/images/favicon.ico'

# Extensions
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - mdx_math:
      enable_dollar_delimiter: true
  - toc:
      permalink: true
      separator: "_"

plugins:
  - search:
      separator: '[\s\-\.]+'
      lang:
        - en

# Customization
extra_javascript:
  - "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML"
extra_css:
  - "assets/css/custom.css"
extra:
  manifest: "manifest.json"
  social:
    - icon: "fontawesome/brands/github-alt"
      link: "https://github.com/peaceiris"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/piris314en"

# Page tree
nav:
  - "Home": "index.md"
  - "About Caprica Tech": "about.md"
  - "TSR - Terminate and Stay Resident": "tsr.md"
  - "AWS":
      - "EKS with Terraform": "aws/ekswithterraform.md"
      - "Project 1": "aws/project1.md"
      - "Project 2": "aws/project2.md"
      - "Project 3": "aws/project3.md"
  - "Terraform":
      - "Project 1": "terraform/project1.md"
      - "Project 2": "terraform/project2.md"
      - "Project 3": "terraform/project3.md"
  - "FreeBSD":
      - "MZFS no FreeBSD": "FreeBSD/ZFS_no_FreeBSD.md"
  - "License": "license.md"
