# Project information
site_name: "MkDocs Material Boilerplate"
site_description: "MkDocs Material Boilerplate (Starter Kit) - Deploy documentation to hosting platforms (Netlify, GitHub Pages, GitLab Pages, and AWS Amplify Console) with Docker, pipenv, and GitHub Actions."
site_author: "peaceiris"
site_url: "https://mkdocs.peaceiris.com/"

# Copyright
copyright: "&copy; 2021 peaceiris"

# Repository
repo_name: "GitHub"
repo_url: "https://github.com/caprica64/capricatech/"
edit_uri: "https://github.com/caprica64/capricatech/edit/main/docs_sample"

# Configuration
docs_dir: "site"
theme:
  name: "material"
  language: "en"
  shortcuts:
    help: 191 # ?
    next: 78 # n
    previous: 80 # p
    search: 83 # s
  palette:
    primary: "blue"
    accent: "blue"
  features:
    - tabs
  #font:
  #text: 'Ubuntu'
  #code: 'Ubuntu Mono'
  #icon:
  #logo: 'images/logo.svg'
  #favicon: 'assets/images/favicon.ico'

# Extensions
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - mdx_math:
      enable_dollar_delimiter: true
  - toc:
      permalink: true
      separator: "_"

plugins:
  - search:
      separator: '[\s\-\.]+'
      lang:
        - en

# Customization
extra_javascript:
  - "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML"
extra_css:
  - "assets/css/custom.css"
extra:
  manifest: "manifest.json"
  social:
    - icon: "fontawesome/brands/github-alt"
      link: "https://github.com/peaceiris"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/piris314en"

# Page tree
nav:
  - "Home": "index.md"
  - "About Caprica Tech": "capricatech.md"
  - "TSR - Terminate and Stay Resident": "tsr.md"
  - "AWS":
      - "Download boilerplate": "getting-started/download-boilerplate.md"
      - "pipenv": "getting-started/pipenv.md"
      - "invoke": "getting-started/invoke.md"
      - "Docker": "getting-started/docker.md"
      - "pip": "getting-started/pip.md"
      - "teste": "Readme.md"
  - "Terraform":
      - "Combinations": "hosting-and-deployment/combinations.md"
      - "Netlify": "hosting-and-deployment/netlify.md"
      - "GitHub Pages": "hosting-and-deployment/github-pages.md"
      - "GitLab Pages": "hosting-and-deployment/gitlab-pages.md"
      - "AWS Amplify Console": "hosting-and-deployment/aws-amplify-console.md"
  - "FreeBSD":
      - "MathJax": "extensions/mathjax.md"
      - "Code Hilite": "extensions/code-hilite.md"
      - "Footnote": "extensions/footnote.md"
  - "License": "license.md"
